# Python
__pycache__/
*.py[oc]
build/
dist/
model/
wheels/
*.egg-info
.venv
.coverage
*.egg

# Models / logs
*.zip
models/
logs/

# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.toc
*.xmpdata
texput.log
pdfa.xmpi

# IDE
.idea/
.vscode/

# OS
.DS_Store

